<div class="container">
    <div class="row">
        <div class="col-4" style="padding: 0;">
            <div class="custom-card">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Sub Type</label>
                    <select class="form-control" [(ngModel)]="subtype" (change)="addSelectedDropdown()">
                        <option *ngFor="let m of dropdownList" [value]="m.ALERT_TYPE_ID">{{m.DISPLAY_VAL}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="custom-card">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th>ALERT_TYPE_ID</th>
                            <th>VERSION</th>
                            <th>APP_ID</th>
                        </tr>
                        <tr *ngIf="selectedHeader">
                            <td>{{selectedHeader.ALERT_TYPE_ID}}</td>
                            <td>{{selectedHeader.VERSION}}</td>
                            <td>{{selectedHeader.APP_ID}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

    <div class="row" *ngIf="IsListVisible && dataList.length > 0">
        <div class="custom-card" style="width:98.4%" *ngFor="let data of dataList">
            <div class="col-12">
                <blockquote class="blockquote">
                    <footer class="blockquote-footer">
                        <span>
                            <b>Name</b> : {{data.header.NAME}} | 
                            <b>DELIMETER</b> : {{data.header.DELIMETER}} | 
                            <b>APPROX.ROW</b> : {{data.header.APPROX_ROW}} | 
                            <b>FILE NAME</b> : {{data.header.FILENAME}}</span>
                    </footer>
                </blockquote>
            </div>
            <div class="col-12 table-responsive">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th width="70px"></th>
                            <th>ID</th>
                            <th>TYPE</th>
                            <th>REQUIRED</th>
                            <th>NAME</th>
                            <th>UNIQUE</th>
                            <th>DOMAIN</th>
                            <th>DESCRIPTION</th>
                            <th>MIN_LENGTH</th>
                            <th>MAX_LENGHT</th>
                            <th>FUTURE_ALLOWED</th>
                            <th>PAST_ALLOWED</th>
                            <th>ORDER</th>
                        </tr>
                        <tr *ngFor="let m of data.body">
                            <td>
                                <button class="edit" (click)="editMode(m)"><i class="fa fa-edit"></i></button>
                                <button class="delete"><i class="fa fa-trash"></i></button>
                            </td>
                            <td>{{m.ID}}</td>
                            <td>{{m.TYPE}}</td>
                            <td>{{m.REQUIRED}}</td>
                            <td>{{m.NAME}}</td>
                            <td>{{m.UNIQUE}}</td>
                            <td>{{m.DOMAIN}}</td>
                            <td>{{m.DESCRIPTION}}</td>
                            <td>{{m.MIN_LENGTH}}</td>
                            <td>{{m.MAX_LENGTH}}</td>
                            <td>{{m.FUTURE_ALLOWED}}</td>
                            <td>{{m.PAST_ALLOWED}}</td>
                            <td>{{m.ORDER}}</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="IsEditVisible">
        <div class="custom-card" style="width:98.4%">
            Edit mode
        </div>
        <div class="custom-card" style="width:98.4%; text-align:right;">
            <button class="btn" (click)="back()">Back</button>&nbsp;&nbsp;
            <button class="btn btn-primary" (click)="IsEditVisible=false;IsListVisible=true">Save</button>
        </div>
    </div>
</div>